<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-content>
        <ion-header class="bar-profile">
          <div class="profile">
            <img class="profile-picture" src="assets/20181028_231840.png" />
            <h3 class="name">Muzammal Hussain</h3>
          </div>
        </ion-header>
        <ion-list class="test">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item class="test" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
