.logout{
  padding-left: 50px;
  padding-top: 50px;
}
.logout-icon{
  padding-left: 10px;
}

.test{
  background-color: #444;
}
.bar-profile {
  background-color: #444;
  height: 170px;
}
.profile {
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  padding-top: 15px;
}

.name {
  color: #FFFFFF;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.profile-picture {
  border-radius: 50%;
}
.has-header
{
  top: 169px;
}
