<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addressForm">
    <ion-grid>
      <ion-row color="justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h3>Enter Address Details</h3>
          </div>
          <div class="ion-padding">
            <ion-item>
              <ion-input placeholder="Street address" formControlName="streetAddress"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="City" formControlName="city"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="zip Code" formControlName="zipCode"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="state" formControlName="state"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Country" formControlName="country"></ion-input>
            </ion-item>
          </div>
          <div class="ion-padding">
            <ion-button size="large"(click)="registerCharityHouse()" color="primary" type="submit" expand="block">Register&nbsp;&nbsp;&nbsp;<ion-spinner *ngIf="loading"></ion-spinner></ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
